# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [2]:
# "tobs" is "temperature observations"
df = pd.read_csv('./Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19550 entries, 0 to 19549
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   station  19550 non-null  object
 1   date     19550 non-null  object
 2   prcp     18103 non-null  float64
 3   tobs     19550 non-null  int64
dtypes: float64(1), int64(1), object(2)
memory usage: 611.1+ KB

In [4]:
# Convert the date column format from string to datetime
df['date'] =  pd.to_datetime(df['date'], infer_datetime_format=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19550 entries, 0 to 19549
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   station  19550 non-null  object
 1   date     19550 non-null  datetime64[ns]
 2   prcp     18103 non-null  float64
 3   tobs     19550 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 611.1+ KB

In [5]:
# Set the date column as the DataFrame index
# df.set_index('date', inplace=True,)
# df

In [6]:
# Drop the date column
df.dropna(subset=['date'])

           station       date  prcp  tobs
0      USC00519397 2010-01-01  0.08    65
1      USC00519397 2010-01-02  0.00    63
2      USC00519397 2010-01-03  0.00    74
3      USC00519397 2010-01-04  0.00    76
4      USC00519397 2010-01-06   NaN    73
...            ...        ...   ...   ...
19545  USC00516128 2017-08-19  0.09    71
19546  USC00516128 2017-08-20   NaN    78
19547  USC00516128 2017-08-21  0.56    76
19548  USC00516128 2017-08-22  0.50    76
19549  USC00516128 2017-08-23  0.45    76

[19550 rows x 4 columns]

### Compare June and December data across all years

In [7]:
from scipy import stats

In [13]:
# Filter data for desired months
june_month = df[df['date'].dt.month == 6]
dec_month = df[df['date'].dt.month == 12]
dec_month

           station       date  prcp  tobs
305    USC00519397 2010-12-01  0.04    76
306    USC00519397 2010-12-03  0.00    74
307    USC00519397 2010-12-04  0.00    74
308    USC00519397 2010-12-06  0.00    64
309    USC00519397 2010-12-07  0.00    64
...            ...        ...   ...   ...
19323  USC00516128 2016-12-27  0.14    71
19324  USC00516128 2016-12-28  0.14    71
19325  USC00516128 2016-12-29  1.03    69
19326  USC00516128 2016-12-30  2.37    65
19327  USC00516128 2016-12-31  0.90    65

[1517 rows x 4 columns]

In [14]:
# Identify the average temperature for June
avg_june_temp = june_month.groupby('station').mean()['tobs']
avg_june_temp

station
USC00511918    74.139394
USC00513117    74.050847
USC00514830    76.005376
USC00516128    71.937220
USC00517948    76.655405
USC00518838    73.394737
USC00519281    73.271186
USC00519397    77.559322
USC00519523    76.668103
Name: tobs, dtype: float64

In [15]:
# Identify the average temperature for December
avg_dec_temp = dec_month.groupby('station').mean()['tobs']
avg_dec_temp

station
USC00511918    69.684211
USC00513117    71.069444
USC00514830    73.224719
USC00516128    69.291262
USC00517948    71.834862
USC00518838    72.421053
USC00519281    69.903226
USC00519397    71.109524
USC00519523    72.433333
Name: tobs, dtype: float64

In [16]:
# Create collections of temperature data

In [17]:
# Run paired t-test (Two-Sample)
stats.ttest_ind(avg_june_temp, avg_dec_temp, equal_var=False)

Ttest_indResult(statistic=4.615865424404701, pvalue=0.0003657335214469917)

### Analysis

* For the analysis an unpaired t-test was used because the data are independent from each other, one is from the month of June and the other December. There is a statistically significant difference between the two months, therefore the null hypothesis is rejected.